body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
.logo-container {
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
header .logo {
    margin-right: 1em;
    height:50px; /*header { display: flex; align-items: center; justify-content: center; }: Usa o Flexbox para alinhar o conteúdo do cabeçalho. display: flex cria um contêiner flexível. align-items: center alinha os itens verticalmente ao centro. justify-content: center centraliza os itens horizontalmente.header .logo { margin-right: 1em; height: 50px; }: Define o estilo da imagem do logo. margin-right: 1em adiciona um espaço à direita do logo. height: 50px define a altura da imagem. Ajuste conforme necessário.*/
}
nav {
    background-color: #444;
    color: white;
    padding: 1em;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}
main {
    padding: 2em;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/*body { ... }: Define estilos para o corpo da página, como a família de fontes, margens e preenchimento.
header, nav, main, footer { ... }: Define estilos específicos para cada uma dessas seções.
nav a { ... }: Define estilos para os links dentro da navegação.*/
